* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}


.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background: #30b868;
    color: #FFFF;
   
    
}

.green {
    background: #30b868;
    color: #FFFF;
    height: 52px;
    width: 251px;
}

.outline {
    background: transparent;
    border: 1px solid #FFFF;
    color: #FFFF;
    height: 52px;
    width: 198px;
}

.btn-icon {
    width: 14px;
    margin-left: 6px;
}

/* main style */


/* Navigation bar */


header{
    background-color: #FFFF;
    padding: 16px 120px;
    align-items: center;

}
nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;

}
nav{
    align-items: center;
}

/* hero */
.hero{
    height: 674px;
    width: 1600;
    color: #FFFF;

}
.hero-img{
    position: absolute;
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-top: 154px;
    text-align: center;
}

.bg {
    text-align: center;
    background: #FFFF;
    color: #30b868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 18px;
}
.hero-content h1 {
    font-size:72px;
    font-style: bold;
    text-align: center;
}
.hero-content p {
    font-size: 18px;
    margin-bottom: 35px;
}
.hero-buttons {
   display: flex;
    justify-content: center;
    gap: 16px;
}
