* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}


.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background: #30b868;
    color: #FFFF;
   
    
}

.green {
    background: #30b868;
    color: #FFFF;
    height: 52px;
    width: 251px;
}

.outline {
    background: transparent;
    border: 1px solid #FFFF;
    color: #FFFF;
    height: 52px;
    width: 198px;
}

.btn-icon {
    width: 14px;
    margin-left: 6px;
}

/* main style */


/* Navigation bar */


header{
    background-color: #FFFF;
    padding: 16px 120px;
    align-items: center;

}
nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;

}
nav{
    align-items: center;
}

/* hero */
.hero{
    height: 674px;
    width: 1600;
    color: #FFFF;

}
.hero-img{
    position: absolute;
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-top: 154px;
    text-align: center;
}

.bg {
    text-align: center;
    background: #FFFF;
    color: #30b868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 18px;
}
.hero-content h1 {
    font-size:72px;
    text-align: center;
}
.hero-content p {
    font-size: 18px;
    margin-bottom: 35px;
}
.hero-buttons {
   display: flex;
    justify-content: center;
    gap: 16px;
}
/* Note */
.note {
    padding: 80px 120px;
    text-align: center;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.text{
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    margin-top: 16px;
    color: gray;
}

.card {
    width: 322px;
    background: #fff;
    padding: 32px 24px;
    border-radius: 12px;

    box-shadow: 0 8px 24px #c4c5c5;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 50px;
}

.card-icon {
    width: 60px;
    height: 60px;
    background-color: #f95555;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.card-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* Brain */
.brain {
    display: flex;
    gap: 60px;
    padding: 120px 120px;
    max-width: 1600px;
    margin: auto;
    align-items: center; 
}
.brain h2 {
    font-size: 48px;
    color: #001931;
}
.brain p{
    font-size: 16px;
    color: #627382;
}

.brain-content{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.brain-image img {
    width: 500px;
    height: 500px;
}

.small-title {
    color: #30b868;
    font-size: 16px;
}

.brain ul {
    margin-top: 20px;
}

.brain li {
    list-style: none;
    margin: 10px 0;
}

.brain li img {
    width: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Early Access */
.Early-access{
    padding: 2px 120px 120px 120px;
}

.early-section {
  background: #f7f6f2;
  text-align: center;
  padding: 80px 40px;
  border-radius: 12px;
  max-width: 1600px;
  margin: 80px auto;
}

.early-section h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.early-text {
  max-width: 700px;
  margin: 0 auto 24px;
  color: #627382;
}

.early-note {
  margin-top: 24px;
  font-size: 16px;
  color: #627382;
}

/* Footer*/
.footer {
  background: #001931;
  color: white;
  padding: 120px 120px 30px 120px;
}

.footer-top {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.footer-logo {
  height: 60px;
 
}

.footer-social p {
  margin-bottom: 36px;
}

.icons span {
  margin-right: 10px;
  font-weight: bold;
  
}

.footer-copy {
  border-top: #627382;
  text-align: center;
  font-size: 16px;
  color: #FFFF;
  padding: 30px;
}

