* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */

.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}

.logo img{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #30b868;
    width: 164px;
    height: 44px;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFF;
    
}

/* main style */

/* Navigation bar */
header{
    background-color: #FFFF;
    padding: 16px 120px;
    align-items: center;

}
nav{
    width: 100%;
    max-width: 1700px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;

}
nav{
    align-items: center;
}

