* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter";
  font-optical-sizing: auto;
}


.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background: #30b868;
    color: #FFFF;
   
    
}

.green {
    background: #30b868;
    color: #FFFF;
    height: 52px;
    width: 251px;
}

.outline {
    background: transparent;
    border: 1px solid #FFFF;
    color: #FFFF;
    height: 52px;
    width: 198px;
}

.btn-icon {
    width: 14px;
    margin-left: 6px;
}

/* main style */


/* Navigation bar */


header{
    background-color: #FFFF;
    padding: 16px 120px;
    align-items: center;

}
nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;

}
nav{
    align-items: center;
}

/* hero */
.hero{
    height: 674px;
    width: 1600;
    color: #FFFF;

}
.hero-img{
    position: absolute;
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-top: 154px;
    text-align: center;
}

.bg {
    text-align: center;
    background: #FFFF;
    color: #30b868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 18px;
}
.hero-content h1 {
    font-size:72px;
    text-align: center;
}
.hero-content p {
    font-size: 18px;
    margin-bottom: 35px;
}
.hero-buttons {
   display: flex;
    justify-content: center;
    gap: 16px;
}
/* Note */
.note {
    padding: 0px 120px;
    text-align: center;
    height: 448px;
    width: 100%;
    max-width: 1600px;
}
.text{
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    margin-top: 16px;
    color: gray;
}

.card {
    width: 322px;
    height: 300px;
    background: #FFFF;
    padding: 24px;
    margin: 44px;
    border-radius: 8px;
    box-shadow: 0 0 9px 0 #d2cdcd;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.card-icon {
    width: 60px;
    height: 60px;
    background-color: #f95555;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 20px;
}

.icon-circle img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}
